.footer {
    background-image: url(../../../public/Img/Hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-box {
    margin: 0 auto;
    padding-top: 400px;
    display: flex;
    width: 650px;
    height: 300px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    font-weight: 200;
}
.svg-inline--fa {
    font-size: 1.5em;
    color: #f9eaa0;
}



<<<<<<< HEAD




=======
.contact-us-form{
    display: flex;
    flex-direction: column;
    width: 60%;
   
}

.input-container , .btn-footer{
        border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1E1F20;
    color: white;
}
.input-container:hover{
    border: 1px solid  #f9eaa0;
    
    
}
.btn-footer{
    cursor: pointer;
    color:#767676;;
}
>>>>>>> dbe9459d80f8d98b2030738004302be9d06ddf25
