.work {
    background-image: url(../../../../../public/Img/siva2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

.work-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    height: 65rem;
    width: 80rem;
    color: #212324;
    background-color: #d5d7db;
}

.box-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.zero {
    background-color: #212324;
    ;
}

#box3 {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    clip-path: inset(0 -15px -20px -15px);
}
.work-circle-container {
    display: flex;
    justify-content: center;
}

.work-circle {
    background-image: url(../../../../../public/Img/siva2.png);
    border-radius: 150px;
    padding: 5px;
    width: 250px;
    height: 250px;
    z-index: 10;
    margin-top: 50px;


}