.work {
    background-image: url(../../../../../public/Img/siva2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
}

.work-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    height: 100vh;
    width: 80rem;
    color: white;
    /*background-color: #d5d7db;*/
    background-image: url(../../../../../public/Img/Hero.png);
}

.box-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    margin: 0 auto;
}

.work-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#work {
    margin-left: 15px;
    padding: 15px;
    border: 1px solid #f9eaa0;
    ;
    background-color: #2b2a30;
    border-radius: 10px;
}

.work-img {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 500px;
    height: 400px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#img {
    margin-left: 15px;
    padding: 15px;
    border: 1px solid #f9eaa0;
    background-color: #2b2a30;
    border-radius: 10px;
    height: 150px;
    width: 250px;
}

.zero {
    background-color: #212324;
    ;
}

#box3 {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    clip-path: inset(0 -15px -20px -15px);
}
.work-circle-container {
    display: flex;
    justify-content: center;
}

.work-circle {
    background-image: url(../../../../../public/Img/siva2.png);
    border-radius: 150px;
    padding: 5px;
    width: 250px;
    height: 250px;
    z-index: 10;
    margin-top: 50px;


}