.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.circle {
    background-image: url(../../../../../public/Img/Hero.png);
        width: 220px;
        height: 110px;
        border-radius: 12rem 12rem 0 0;
        z-index: 10;

}