.team {
    background-image: url(../../../../../public/Img/siva2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-box {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    width: 80rem;
    color: white;
    background-color: #2b2a30;
}

.box-a {
    display: flex;
    width: 60rem;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.box-b {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.box-b h4 {
    padding: 0.3rem;
}

.img-1 {
    border: 1px solid #ddd;
    border-radius: 20%;
    padding: 5px;
    height: 150px;
    width: 150px;
    background-image: url(../../../../../public/Img/omer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img-2 {
    border: 1px solid #ddd;
    border-radius: 20%;
    padding: 5px;
    height: 150px;
    width: 150px;
    background-image: url(../../../../../public/Img/robert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#box2 {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
    clip-path: inset(0 -15px 0 -15px);
}