#robert {
    background-image: url(../../../public/Img/Heder-slika.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}