.main {
    display: flex;

    align-items: center;
    height: 80rem;
    width: 80rem;
    background: rgb(28, 60, 112);
    margin-top: 30rem;
}

.main_hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
