*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 70.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 8vh;
    position: fixed;
    padding: 0 25px 0 0;
    z-index: 10;
    background: rgb(33, 35, 36);
    background: linear-gradient(180deg, rgba(33, 35, 36, 0.4) 18%, rgba(33, 35, 36, 0.4) 57%);
    width: 80rem;


}

.logo-img {
    background-image: url(../../../../public/Img/Logo2.png);
    background-size: cover;
    width: 140px;
    height: 60px;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3.5rem;
}

.nav_toggler div {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.5s ease-in;
}

.nav_toggler {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav_toggler {
        display: block;
    }

    .nav_menu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background-color: #2b2a30;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
}

/************* Nav Actove Class ***************/

.nav_active {
    transform: translateX(0);
}

/************* Toggler Icon Animation ***************/

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
}